# ========================
# Android Secrets
# ========================
local.properties
**/local.properties

# ========================
# Gradle
# ========================
.gradle/
build/

# ========================
# Android Studio / VSCode
# ========================
.idea/
*.iml

# ========================
# Keystores
# ========================
*.jks
*.keystore